<div class="wrap" xmlns="http://www.w3.org/1999/html">
  <div class="nav-bar">
    <app-nav-menu></app-nav-menu>
  </div>
  <div class="page-content">
    <div class="profile">
      <div class=" shadow hed-side">





        <div class="image-side">
          <img class="profile-photo" [src]="costumerData.pictureUrl"  default="../../assets/icons/default-profile-picture.jpg"/> <!--[urlCorrector]="costumerData.pictureUrl"-->
          <div *ngIf="isOwner" class="edit-image-block" >
            <input #imageInput type="file" accept="image/*" (change)="uploadPhoto(imageInput)" [hidden] = "true">
            <span (click)="imageInput.click()">Upload picture</span>
            <div *ngIf="fbConnected && costumerData.facebookProfilePicture && costumerData.facebookProfilePicture !== costumerData.pictureUrl" class="vl"></div>
            <span *ngIf="fbConnected && costumerData.facebookProfilePicture && costumerData.facebookProfilePicture !== costumerData.pictureUrl" (click) = "setFbPicture()">Set fb profile picture</span>
          </div>
        </div>



        <form [formGroup]="userForm">
        <div class="profile-about" >
          <div *ngIf="costumerData.comment || isOwner">
            <span class="speech-bubble" *ngIf="!isOwner">{{costumerData.comment}}</span>

            <span *ngIf="costumerData.comment && isOwner">
              <span *ngIf = "!editComment">
                <span class="speech-bubble">{{costumerData.comment}} </span>
                <img (click)="errorEditComment = false;" *ngIf="errorEditComment" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your comment. Please try again."/>
                <span class="edit-button" (click)="enableCommentEditing();">Edit Comment</span>
              </span>
              <span *ngIf = "editComment">
                <input autocomplete="off" id="commentEdit" formControlName="commentEdit" class="speech-bubble" #EditCommentField/>
                <span *ngIf="savingEditComment" class="save-icon">
                  <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                  </svg>
                </span>
                <span *ngIf="!savingEditComment">
                  <img *ngIf="f.commentEdit.invalid && (f.commentEdit.dirty)" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Write minimum 3 characters"/>
                  <img *ngIf="f.commentEdit.valid && (f.commentEdit.dirty)" (click)="editCommentMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                  <img class="save-icon" (click) = "cancelCommentEdit();" src ="../../assets/icons/cancel.svg"/>
                </span>
              </span>
            </span>

            <span *ngIf="!costumerData.comment && isOwner">
              <span *ngIf = "!addComment">
                <img (click)="errorAddComment = false;" *ngIf="errorAddComment" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your comment. Please try again."/>
              </span>
              <span *ngIf="addComment">
                <input formControlName="commentAdd" class="speech-bubble" #AddCommentField/>
                <span *ngIf="savingAddComment" class="save-icon">
                  <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                  </svg>
                </span>
                <span *ngIf="!savingAddComment">
                  <img *ngIf="f.commentAdd.invalid && (f.commentAdd.dirty)" class="save-icon" src ="../../assets/icons/warning.svg"/>
                  <img *ngIf="f.commentAdd.valid && (f.commentAdd.dirty)" (click)="addCommentMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                  <img class="save-icon" (click) = "cancelCommentAdd();" src ="../../assets/icons/cancel.svg"/>
                </span>
              </span>
              <span *ngIf="!addComment" (click)="addComment = true;" class="edit-button" (click) ="enableCommentAdding();">Add Comment</span>
            </span>
          </div>


          <h1 class="profile-title" *ngIf="!editName">
            {{costumerData.firstName}}
            {{costumerData.lastName}}
            <img (click)="errorEditName = false;" *ngIf="errorEditName" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your name. Please try again."/>
            <span *ngIf="isOwner" (click) = "enableNameEditing()" class="edit-button">Edit Name</span>
          </h1>
          <h1 class="profile-title" *ngIf="editName">
            <input class="add-link-input" #EditFirstNameField onkeypress="this.style.width = ((this.value.length + 1) * 17 + 20) + 'px';" formControlName="firstNameEdit"/>
            <img *ngIf="f.firstNameEdit.invalid && (f.firstNameEdit.dirty || f.firstNameEdit.touched)" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Write minimum 2 characters"/>
            <br />
            <input class="add-link-input" #EditLastNameField onkeypress="this.style.width = ((this.value.length + 1) * 17) + 'px';" formControlName="lastNameEdit"/>
            <span *ngIf="savingEditName" class="save-icon">
              <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
              </svg>
            </span>
            <span *ngIf="!savingEditName">
              <img *ngIf="f.lastNameEdit.invalid && (f.lastNameEdit.dirty || f.lastNameEdit.touched)" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Write minimum 2 characters"/>
              <img *ngIf="f.firstNameEdit.valid && f.lastNameEdit.valid && (f.lastNameEdit.dirty || f.firstNameEdit.dirty)" (click)="updateName()" class="save-icon" src ="../../assets/icons/checked.svg"/>
              <img class="save-icon" (click) = "cancelNameEdit();" src ="../../assets/icons/cancel.svg"/>
            </span>
          </h1>






          <div class="profile-list">
            <div  *ngIf="hasUrl || isOwner" class="clearfix">
              <span *ngIf="!isOwner">
                <span class="cont" style="padding-left: 0;"><span style="font-weight: bold">classico.ge/</span>{{costumerData.userLink}}</span>
              </span>

              <span *ngIf="isOwner && hasUrl">
                <span class="cont" style="padding-left: 0;">
                  <span style="font-weight: bold">classico.ge/</span>
                </span>
                <span *ngIf = "editLink">
                  <input formControlName="userLinkEdit" class="add-link-input" #EditLinkField />
                  <span *ngIf="savingEditLink" class="save-icon">
                    <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                     <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                   </svg>
                  </span>
                  <span *ngIf="!savingEditLink">
                    <img *ngIf="f.userLinkEdit.invalid && (f.userLinkEdit.dirty)" class="save-icon" src ="../../assets/icons/warning.svg" [matTooltip]="f.userLinkEdit.errors?.linkNotAvaliable? 'Link is not available' : 'Link format is not correct. Write minimum 4 characters'"/>
                    <span class="save-icon" *ngIf="f.userLinkEdit.pending && (f.userLinkEdit.dirty)" matTooltip ="Please wait...">
                      <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </span>
                    <img *ngIf="f.userLinkEdit.valid && (f.userLinkEdit.dirty)" (click)="editLinkMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                    <img class="save-icon" (click) = "cancelLinkEdit()" src ="../../assets/icons/cancel.svg"/>
                  </span>
                </span>
                <span *ngIf = "!editLink">
                  <span>{{costumerData.userLink}}</span>
                  <img (click)="errorEditLink = false;" *ngIf="errorEditLink" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your link. Please try again."/>
                  <span (click) ="enableLinkEditing()" class="edit-button">Edit User Link</span>
                </span>
              </span>

              <span *ngIf="isOwner && !hasUrl">
                <span class="cont" style="padding-left: 0;">
                  <span style="font-weight: bold">classico.ge/</span>
                </span>
                <span *ngIf="addLink">
                  <input formControlName="userLinkAdd" class="add-link-input" #AddLinkField/>
                  <span *ngIf="savingAddLink" class="save-icon">
                   <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                     <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                   </svg>
                  </span>
                  <span *ngIf="!savingAddLink">
                    <img *ngIf="f.userLinkAdd.invalid && (f.userLinkAdd.dirty)" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Write minimum 4 characters"/>
                    <span class="save-icon" *ngIf="f.userLinkEdit.pending && (f.userLinkEdit.dirty)" matTooltip ="Please wait...">
                      <svg
                        class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </span>
                    <img *ngIf="f.userLinkAdd.valid && (f.userLinkAdd.dirty)" (click)="addLinkMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                    <img class="save-icon" (click) = "cancelLinkAdd()" src ="../../assets/icons/cancel.svg"/>
                  </span>
                </span>
                <span *ngIf = "!addLink">
                  <img (click)="errorAddLink = false;" *ngIf="errorAddLink" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your comment. Please try again."/>
                  <span (click) ="enableLinkAdding()" class="edit-button">Add User Link</span>
                </span>
              </span>
            </div>







            <div *ngIf="costumerData.dateOfBirth || isOwner" class="clearfix">
              <span *ngIf="!isOwner">
                <strong class="title">Age</strong>
                <span class="cont">{{age}}</span>
              </span>
              <span *ngIf="isOwner && costumerData.dateOfBirth">
                <strong *ngIf="!editAge" class="title">Age</strong>
                <span *ngIf="editAge">
                  <span class="calendar-input">
                    <div class="input-group">
                      <input formControlName="birthDateEdit" class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="mydate"
                             [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" (inputFieldChanged)="onInputFieldChanged($event, 'edit')"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()" >
                          <i style="font-size: 18px;" class="material-icons">calendar_today</i>
                        </button>
                      </span>
                    </div>
                    <span *ngIf="savingEditAge" class="save-icon">
                      <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </span>
                    <span *ngIf="!savingEditAge" class="dis-flex">
                      <img *ngIf="f.birthDateEdit.invalid && f.birthDateEdit.dirty && !editDateValid" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Date format is not valid."/>
                      <img *ngIf="f.birthDateEdit.valid && f.birthDateEdit.dirty && editDateValid" (click)="editAgeMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                      <img class="save-icon" (click) = "cancelAgeEdit();" src ="../../assets/icons/cancel.svg"/>
                    </span>
                  </span>
                </span>
                <span *ngIf="!editAge">
                  <span class="cont">{{age}}</span>
                  <img (click)="errorEditAge = false;" *ngIf="errorEditAge" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your date of birth. Please try again."/>
                  <span class="edit-button" (click)="enableAgeEditing()">Edit birth date</span>
                </span>
              </span>


              <span *ngIf="isOwner && !costumerData.dateOfBirth">
                <span *ngIf="addAge">
                  <span class="calendar-input">
                    <div class="input-group">
                      <input formControlName="birthDateAdd" class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="mydate"
                             [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" (inputFieldChanged)="onInputFieldChanged($event, 'add')"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()" >
                          <i style="font-size: 18px;" class="material-icons">calendar_today</i>
                        </button>
                      </span>
                    </div>
                    <span *ngIf="savingAddAge" class="save-icon">
                      <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </span>
                    <span *ngIf="!savingAddAge" class="dis-flex">
                      <img *ngIf="f.birthDateAdd.invalid && f.birthDateAdd.dirty && !addDateValid" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Date format is not valid."/>
                      <img *ngIf="f.birthDateAdd.valid && f.birthDateAdd.dirty && addDateValid" (click)="addAgeMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                      <img class="save-icon" (click) = "cancelAgeAdd();" src ="../../assets/icons/cancel.svg"/>
                    </span>
                  </span>
                </span>
                <span *ngIf="!addAge">
                  <img *ngIf = "errorAddAge" (click)="errorAddAge = false;" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your date of birth. Please try again."/>
                  <span (click)="enableAgeAdding()" class="edit-button">Add birth date for display age</span>
                </span>
              </span>
            </div>








            <div class="clearfix">
              <span>
                <strong class="title">E-mail</strong>
                <span *ngIf ="!editEmail">
                  <span class="cont"><span>{{costumerData.email}}</span></span>
                  <img (click)="errorEditEmail = false;" *ngIf="errorEditEmail" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your email. Please try again."/>
                  <span *ngIf="isOwner" class="edit-button" (click) ="enableEmailEditing()">Edit Email</span>
                </span>
                <span *ngIf ="editEmail">
                  <input formControlName="emailEdit" class="cont add-link-input" #EditEmailField/>
                  <span *ngIf="savingEditEmail" class="save-icon">
                    <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </span>
                  <span *ngIf="!savingEditEmail">
                    <img *ngIf="f.emailEdit.invalid && (f.emailEdit.dirty)" class="save-icon" src ="../../assets/icons/warning.svg"
                         [matTooltip]="f.emailEdit.errors?.emailNotAvailable? 'Email taken' : 'Email format is not correct'"/>
                    <span class="save-icon" *ngIf="f.emailEdit.pending" matTooltip ="Please wait...">
                      <svg
                        class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </span>
                    <img *ngIf="f.emailEdit.valid && (f.emailEdit.dirty)" (click)="editEmailMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                    <img class="save-icon" (click) = "cancelEmailEdit();" src ="../../assets/icons/cancel.svg"/>
                  </span>
                </span>
              </span>
            </div>






            <div *ngIf="costumerData.phoneNumber || isOwner" class="clearfix">
              <span *ngIf="!isOwner">
                <strong class="title">Phone</strong>
                <span class="cont"><a>{{costumerData.phoneNumber}}</a></span>
              </span>
              <span *ngIf="isOwner && costumerData.phoneNumber">
                <strong class="title">Phone</strong>
                <span *ngIf="!editNumber">
                  <span class="cont">{{costumerData.phoneNumber}}</span>
                  <img (click)="errorEditNumber = false;" *ngIf="errorEditNumber" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your number. Please try again."/>
                  <span class="edit-button" (click) ="enableNumberEditing()">Edit Number</span>
                </span>
                <span *ngIf ="editNumber">
                  <input formControlName="numberEdit" class="cont add-link-input" #EditNumberField/>
                  <span *ngIf="savingEditNumber" class="save-icon">
                    <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </span>
                  <span *ngIf="!savingEditNumber">
                    <img *ngIf="f.numberEdit.invalid && f.numberEdit.dirty" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Write minimum 5 characters"/>
                    <img *ngIf="f.numberEdit.valid && (f.numberEdit.dirty)" (click)="editNumberMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                    <img class="save-icon" (click) = "cancelNumberEdit();" src ="../../assets/icons/cancel.svg"/>
                  </span>
                </span>
              </span>

              <span *ngIf="isOwner && !costumerData.phoneNumber">
                <span *ngIf = "!addNumber && errorAddNumber">
                  <img (click)="errorAddNumber = false;" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your number. Please try again."/>
                </span>
                <span *ngIf="!addNumber" class="edit-button" (click) ="enableNumberAdding()">Add Number</span>
                <span *ngIf="addNumber">
                  <strong class="title">Phone</strong>
                  <input formControlName="numberAdd" class="cont add-link-input" #AddNumberField/>
                  <span *ngIf="savingAddNumber" class="save-icon">
                    <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                     <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </span>
                  <span *ngIf="!savingAddNumber">
                    <img *ngIf="f.numberAdd.invalid && (f.numberAdd.dirty)" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Write minimum 5 characters"/>
                    <img *ngIf="f.numberAdd.valid && (f.numberAdd.dirty)" (click)="addNumberMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                    <img class="save-icon" (click) = "cancelNumberAdd();" src ="../../assets/icons/cancel.svg"/>
                  </span>
                </span>
              </span>
            </div>




            <div *ngIf="costumerData.favoriteNationalTeam || isOwner" class="clearfix">
              <span *ngIf="!isOwner">
                <strong class="title">Favorite Team</strong>
                <span class="cont">{{costumerData.favoriteNationalTeam}}</span>
              </span>
              <span *ngIf="isOwner && costumerData.favoriteNationalTeam">
                <strong class="title">Favorite Team</strong>
                <span *ngIf="!editTeam">
                  <span class="cont">{{costumerData.favoriteNationalTeam}}</span>
                  <img (click)="errorEditTeam = false;" *ngIf="errorEditTeam" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your favorite team. Please try again."/>
                  <span class="edit-button" (click) ="enableTeamEditing()">Edit favorite team</span>
                </span>
                <span *ngIf="editTeam">
                  <input formControlName="favoriteTeamEdit" class="cont add-link-input" #EditTeamField/>
                  <span *ngIf="savingEditTeam" class="save-icon">
                    <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </span>
                  <span *ngIf="!savingEditTeam">
                    <img *ngIf="f.favoriteTeamEdit.invalid && (f.favoriteTeamEdit.dirty || f.favoriteTeamEdit.touched)" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Write minimum 3 characters"/>
                    <img *ngIf="f.favoriteTeamEdit.valid && (f.favoriteTeamEdit.dirty)"(click)="editTeamMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                    <img class="save-icon" (click) = "cancelTeamEdit();" src ="../../assets/icons/cancel.svg"/>
                  </span>
                </span>
              </span>


              <span *ngIf="isOwner && !costumerData.favoriteNationalTeam">
                <span *ngIf = "!addTeam && errorAddTeam">
                  <img (click)="errorAddTeam = false;" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your favorite team. Please try again."/>
                </span>
                <span *ngIf="!addTeam" class="edit-button" (click) = "enableTeamAdding()">Add favorite national team</span>
                <span *ngIf="addTeam">
                  <strong class="title">Team</strong>
                  <input formControlName="favoriteTeamAdd" class="cont add-link-input" #AddTeamField/>
                  <span *ngIf="savingAddTeam" class="save-icon">
                    <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                     <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </span>
                  <span *ngIf="!savingAddTeam">
                    <img *ngIf="f.favoriteTeamAdd.invalid && (f.favoriteTeamAdd.dirty )" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Write minimum 3 characters"/>
                    <img *ngIf="f.favoriteTeamAdd.valid && (f.favoriteTeamAdd.dirty)" (click)="addTeamMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                    <img class="save-icon" (click) = "cancelTeamAdd();" src ="../../assets/icons/cancel.svg"/>
                  </span>
                </span>
              </span>
            </div>




            <div *ngIf="costumerData.favoriteClub || isOwner" class="clearfix">
              <span *ngIf="!isOwner">
                <strong class="title">Favorite Club</strong>
                <span class="cont">{{costumerData.favoriteClub}}</span>
              </span>
              <span *ngIf="isOwner && costumerData.favoriteClub">
                <strong class="title">Favorite Club</strong>
                <span *ngIf="!editClub">
                  <span class="cont">{{costumerData.favoriteClub}}</span>
                  <img (click)="errorEditClub = false;" *ngIf="errorEditClub" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your favorite club. Please try again."/>
                  <span class="edit-button" (click) ="enableClubEditing()">Edit favorite Club</span>
                </span>
                <span *ngIf="editClub">
                  <input formControlName="favoriteClubEdit" class="cont add-link-input" #EditClubField/>
                  <span *ngIf="savingEditClub" class="save-icon">
                    <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </span>
                  <span *ngIf="!savingEditClub">
                    <img *ngIf="f.favoriteClubEdit.invalid && (f.favoriteClubEdit.dirty || f.favoriteClubEdit.touched)" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Write minimum 3 characters"/>
                    <img *ngIf="f.favoriteClubEdit.valid && (f.favoriteClubEdit.dirty)" (click)="editClubMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                    <img class="save-icon" (click) = "cancelClubEdit();" src ="../../assets/icons/cancel.svg"/>
                  </span>
                </span>
              </span>

              <span *ngIf="isOwner && !costumerData.favoriteClub">
                <span *ngIf = "!addClub && errorAddClub">
                  <img (click)="errorAddTeam = false;" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Can't save your favorite team. Please try again."/>
                </span>
                <span *ngIf="!addClub" class="edit-button" (click) ="enableClubAdding()">Add favorite Club</span>
                <span *ngIf="addClub">
                  <strong class="title">Club</strong>
                  <input formControlName="favoriteClubAdd" class="cont add-link-input" #AddClubField/>
                  <span *ngIf="savingAddClub" class="save-icon">
                    <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                     <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </span>
                  <span *ngIf="!savingAddClub">
                    <img *ngIf="f.favoriteClubAdd.invalid && (f.favoriteClubAdd.dirty )" class="save-icon" src ="../../assets/icons/warning.svg" matTooltip="Write minimum 3 characters"/>
                    <img *ngIf="f.favoriteClubAdd.valid && (f.favoriteClubAdd.dirty)" (click)="addClubMethod()" class="save-icon" src ="../../assets/icons/checked.svg"/>
                    <img class="save-icon" (click) = "cancelClubAdd();" src ="../../assets/icons/cancel.svg"/>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
      </form>
      </div>

      <div class="tabs-side">
        <div><a (click)="tabSelected = 0" [ngClass] = "{'selected-tabs-centred': tabSelected === 0 }" class="shadow tabs-centered"><i class="material-icons">notifications_on</i>Following</a></div>
        <div><a (click)="tabSelected = 1" [ngClass] = "{'selected-tabs-centred': tabSelected === 1 }" class="shadow tabs-centered"><i class="material-icons">favorite_border</i>Favorites</a></div>
        <div><a (click)="tabSelected = 2" [ngClass] = "{'selected-tabs-centred': tabSelected === 2 }" class="shadow tabs-centered"><i class="material-icons">person</i>Work</a></div>
      </div>

  </div>
</div>

<div class="node-side">
  <div *ngFor="let node of nodes; let i = index" style = "margin: 0 10px 0 10px;">
    <div class="card" style="width: 400px;">
      <div class="card_left">
        <img src="{{node.nodeImage}}"/>
      </div>
      <div class="card_right" [ngStyle]="{backgroundColor: i === selectedIndex ? '#CDD6D5' : '#EEF4F2'}">
        <div class="card-title">{{node.mainTag}}</div>
        <div class="card_right__details">
          <div class="card_right__review">
            <p>{{node.nodeTitle}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
