<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form [formGroup]="resetPasswordForm" [ngClass]="{'isDisabled': regIsLoading}" class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Reset Password
          </span>
        <span class="login100-form-title p-b-48">
          <i class="zmdi zmdi-font"></i>
        </span>

        <div [ngClass]="{'alert-validate': f.password.errors}" class="wrap-input100 validate-input" data-validate="Enter password">
          <input formControlName="password" autocomplete="off" #PasswordField [ngClass]="{'has-val': resetPasswordForm.value.password.length>0}" type="password" class="input100" name="password">
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>

        <div [ngClass]="{'alert-validate': f.confirmPassword.errors}" class="wrap-input100 validate-input" data-validate="Confirm password">
          <input formControlName="confirmPassword" autocomplete="off" #ConfirmPasswordField [ngClass]="{'has-val': resetPasswordForm.value.confirmPassword.length>0}" type="password" class="input100" name="confirmPassword">
          <span class="focus-input100" data-placeholder="Confirm Password"></span>
        </div>

        <div class="container-login100-form-btn">
          <div [ngClass]="{'isDisabled': regIsLoading}" class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button
              [disabled]="regIsLoading || !resetPasswordForm.valid"
              class="login100-form-btn"
              (click)="resetPassword(PasswordField.value)">
              Set New Password
            </button>
          </div>

          <div *ngIf="passwordChanged" class="m-b-10">
            <span style="color: blue; font-weight: bold; ">Password has changed successfully. <br> For login
              <a class="txt2" [routerLink]='["../login"]'>
                click here
              </a>
            </span>
          </div>
          <div *ngIf="errorFromServer" class="m-b-10">
            <span style="color: red; font-weight: bold; ">Password change failed. Try again.</span>
          </div>

        </div>

        <div class="p-t-20 auth-loader" >
          <div *ngIf="regIsLoading">
            <img src="../../../assets/loaders/puff.svg" width="40" alt="">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
