
@import '../sources/style/article';

.box-container {
  margin: auto;
  margin-top: 30px;
  height: auto;
  width: 768px;
}

.editor-icons {
  font-size: 20px;
}

.ql-video {
  width: 500px;
  height: 280px;
}

