.btn-div {
  cursor: pointer;
  width: 100%;
  height: 50px;
  background-size: cover;
  background-image: url('../../../assets/icons/login-with-facebook-button.png');
  background-color: black;
  border-radius: 40px;
}
